.w-aboutus {
  width: 100%;
  background: #F9F3EC;
}
.w-aboutus .pv {
  padding: 100px 0 50px 0;
  width: 100%;
}
.w-aboutus .pv .w81 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-aboutus .pv .w81 div {
  width: 50%;
}
.w-aboutus .pv .w81 div .red-text {
  width: 450px;
}
.w-aboutus .pv .w81 div p:not(:first-child) {
  font-family: NRegular;
}
.w-aboutus .pv .w81 div p:last-child {
  color: #0A1B2E;
  font-size: 20px;
  line-height: 30px;
}
.w-aboutus .pv .w81 div p:nth-child(2) {
  color: hsl(212, 64%, 11%);
  font-size: 20px;
  margin: 15px 0 20px 0;
  line-height: 30px;
}
.w-aboutus .pv .w81 img {
  width: 470px;
  height: 320px;
  margin-left: 30px;
  object-fit: contain;
}
.w-aboutus .pv .w81 .red-text-mobile {
  display: none;
}
.w-aboutus .pv .w81 .mobile-content {
  display: none;
}
.w-aboutus .lws .w81 .red-text-mobile {
  display: none;
}
.w-aboutus .lws .w81 div a {
  margin-top: 100px;
}
.w-aboutus .team {
  padding: 100px 0 50px 0;
  width: 100%;
}
.w-aboutus .team .w81 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-aboutus .team .w81 .l {
  width: 50%;
  height: 100%;
}
.w-aboutus .team .w81 .l div {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
}
.w-aboutus .team .w81 .l div .red-text {
  width: 450px;
}
.w-aboutus .team .w81 .l div p:not(:first-child) {
  font-family: NRegular;
}
.w-aboutus .team .w81 .l div p:last-child {
  color: #0A1B2E;
  font-size: 20px;
  line-height: 30px;
}
.w-aboutus .team .w81 .l div p:nth-child(2) {
  color: #0A1B2E;
  font-size: 20px;
  margin: 15px 0 20px 0;
  line-height: 30px;
}
.w-aboutus .team .w81 .r {
  width: 470px;
  height: 320px;
  position: relative;
}
.w-aboutus .team .w81 .r .red-text-mobile {
  display: none;
}
.w-aboutus .team .w81 .r img {
  width: 470px;
  height: 320px;
  margin-left: 30px;
  object-fit: contain;
}
.w-aboutus .guarantee {
  padding: 100px 0 50px 0;
  width: 100%;
}
.w-aboutus .guarantee .w81 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-aboutus .guarantee .w81 .l {
  width: 50%;
  height: 100%;
}
.w-aboutus .guarantee .w81 .l div {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.w-aboutus .guarantee .w81 .l div .red-text {
  width: 450px;
}
.w-aboutus .guarantee .w81 .l div p:not(:first-child) {
  color: #0A1B2E;
  font-size: 20px;
  margin: 15px 0 20px 0;
  line-height: 30px;
}
.w-aboutus .guarantee .w81 .l div p a {
  color: #0A1B2E;
}
.w-aboutus .guarantee .w81 .l .sched {
  background: #1560E6;
  border-radius: 50px;
  text-align: center;
  width: max-content;
  cursor: pointer;
  padding: 10px 30px;
}
.w-aboutus .guarantee .w81 .l .sched .t {
  color: #fff;
}
.w-aboutus .guarantee .w81 .red-text-mobile {
  display: none;
}
.w-aboutus .guarantee .w81 img {
  width: 470px;
  height: 320px;
  object-fit: contain;
  margin-left: 30px;
}

@media only screen and (max-width: 1280px) {
  .w-aboutus .pv .w81 {
    width: 90%;
  }
  .w-aboutus .pv .w81 div {
    width: 40%;
  }
  .w-aboutus .lws .w81 a {
    width: 200px;
    text-align: center;
  }
  .w-aboutus .team .w81 {
    width: 90%;
  }
  .w-aboutus .team .w81 .l {
    width: 40%;
  }
  .w-aboutus .team .w81 .l .red-text {
    font-size: 25px;
  }
  .w-aboutus .guarantee .w81 {
    width: 90%;
  }
  .w-aboutus .guarantee .w81 .l {
    width: 40%;
  }
  .w-aboutus .guarantee .w81 .l div .red-text {
    font-size: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .w-aboutus .pv {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }
  .w-aboutus .pv .w81 {
    width: 100%;
    display: block;
  }
  .w-aboutus .pv .w81 div {
    display: none;
  }
  .w-aboutus .pv .w81 .red-text-mobile {
    display: flex;
  }
  .w-aboutus .pv .w81 .mobile-content {
    display: block;
    width: 100%;
  }
  .w-aboutus .pv .w81 .mobile-content p {
    color: #0A1B2E;
    font-size: 20px;
    line-height: 30px;
    font-family: NRegular;
  }
  .w-aboutus .pv .w81 img {
    width: 100%;
    margin: 15px auto 25px auto;
    height: 420px;
  }
  .w-aboutus .lws .w81 .red-text-mobile {
    display: flex;
  }
  .w-aboutus .lws .w81 div a {
    margin-top: 0;
    width: 450px;
    box-sizing: border-box;
    font-family: IBold;
  }
  .w-aboutus .team {
    padding: 50px 0;
  }
  .w-aboutus .team .w81 {
    flex-direction: column-reverse;
  }
  .w-aboutus .team .w81 .l {
    width: 100%;
    margin-top: 160px;
  }
  .w-aboutus .team .w81 .l div {
    margin-bottom: 0;
  }
  .w-aboutus .team .w81 .l div .red-text {
    display: none;
  }
  .w-aboutus .team .w81 .r {
    width: 100%;
  }
  .w-aboutus .team .w81 .r .red-text-mobile {
    display: flex;
  }
  .w-aboutus .team .w81 .r img {
    width: 100%;
    margin: 15px auto 25px auto;
    height: 420px;
  }
  .w-aboutus .guarantee {
    padding: 50px 0;
  }
  .w-aboutus .guarantee .w81 {
    flex-direction: column-reverse;
  }
  .w-aboutus .guarantee .w81 .l {
    width: 100%;
  }
  .w-aboutus .guarantee .w81 .l div {
    margin-bottom: 25px;
  }
  .w-aboutus .guarantee .w81 .l div .red-text {
    display: none;
  }
  .w-aboutus .guarantee .w81 .l .sched .t {
    font-family: IBold;
  }
  .w-aboutus .guarantee .w81 .red-text-mobile {
    display: flex;
    margin-bottom: 15px;
  }
  .w-aboutus .guarantee .w81 img {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .w-aboutus .pv .w81 img {
    height: 350px;
  }
  .w-aboutus .lws .w81 div a {
    width: 100%;
  }
  .w-aboutus .team .w81 .l .link-button {
    width: 100%;
    box-sizing: border-box;
  }
  .w-aboutus .team .w81 .r {
    height: 350px;
  }
  .w-aboutus .guarantee .w81 .l a {
    width: 100%;
    box-sizing: border-box;
  }
  .w-aboutus .guarantee .w81 img {
    height: 350px;
  }
}
@media only screen and (max-width: 480px) {
  .w-aboutus .pv .w81 img {
    height: 300px;
  }
  .w-aboutus .team .w81 .r {
    height: 300px;
  }
  .w-aboutus .guarantee .w81 img {
    height: 300px;
  }
}

/*# sourceMappingURL=whyjblanton.css.map */
